img {
    width: 300px;
}

body{background-color: #ADD8E6}
hr{
    border-top: 10px dotted;
    border-bottom: 0px dotted;
    border-right: 0px dotted;
    border-left: 0px dotted;
    border-color: #B5BAB6;
    width: 30%;
}
